@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body#corpo {
    background-color: black;
}


header.cabeca {
    background-color: aqua;
    text-align: center;
}

h1#titulo-principal {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: bolder;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.301);
    padding-top: 30px;
    padding-bottom: 10px;
}

h2#sub-titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: lighter;
    padding-bottom: 50px;
}
div.principal {
    background-color: white;
}
h3.terceiro-sub-titulo {
    background-image: linear-gradient(to top, #016767, #04fcfc);
    font-size: 2em;
    padding: 30px 0px 30px 10px;
    margin: 5px 0px 20px 0px;
    border-radius: 0px 0px 10px 10px;
}
p.valor {
    display: inline-block;
    font-size: 2em;
    font-weight: bolder;
    padding: 20px;
    border-bottom: 3px solid black;
}
.div-img1 {
    display: inline-block;
    position: relative;
    height: 300px;
    width: 100vw;
}
.imagem1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 20px;
}
p.texto {
    text-align: start;
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 0px 10px 40px 10px;
}
div > a {
    background-color: rgb(196, 196, 196);
    display: inline-block;
    font-size: 2em;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 20px 10px;
    text-decoration: none;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.405);
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.471);
    
}
div > a:hover {
    color: purple;
    font-size: 2.5em;
    text-decoration: underline;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.593);
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.570);
}
.secundario {
    background-color: white;
    display: inline-block;
    position: relative;
}
.div-img2 {
    display: inline-block;
    position: relative;
    height: 300px;
    width: 100vw;
}
.imagem2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 20px;
}
footer {
    background-color: #016767;
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
    padding: 8px 0px 8px 8px;
    margin-top: 3px;
}

footer a {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}



