* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: brown;
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.cube {
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  transform: rotateX(329deg) rotateY(59deg);
}

.face {
  position: relative;
  width: 100%;
  height: 100%;
}