@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,body {
  width: 100vw;
  height: 100vh;
}

html {font-size: 62,5%;}

.nav-header {
  width: 100%;
  height: 80px;
  background-color: #000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
}

.nav-header .logo {
  color: #fff;
}
.nav-menu .menu-burguer {
  display: block;
  width: 25px;
  height: 3.2px;
  background-color: #fff;
  color: #000;
  position: relative;
}

.nav-menu .menu-burguer::after {
  content: '';
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  color: #000;
  position: absolute;
  top: 10px;
}

.nav-menu .menu-burguer::before {
  content: '';
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  color: #000;
  position: absolute;
  top: -10px;
}



